.bue-ui {
  margin: 0;
  border: 1px solid #CCC;
  border-bottom: 0;
  background: #FAFAFA;
  padding: 1px 2px 2px;
  box-shadow: none; }

.bue-ui + textarea.form-textarea {
  font-family: "Roboto Mono", Consolas, monospace;
  border-top: 1px solid #E0E0E0;
  padding: 8px 12px; }

.bue-button {
  border: 0;
  margin: 2px;
  padding: 2px;
  opacity: 0.54;
  height: 24px;
  height: 24px;
  background: none; }
  .bue-button:hover {
    background: rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    opacity: 0.87; }
