@charset "UTF-8";

@import "compass";
@import "compass/css3";

$toolbar-bg: #FAFAFA;
$toolbar-border: #E0E0E0;
$border: #CCC;

.bue-ui { margin: 0; border: 1px solid $border; border-bottom: 0; background: $toolbar-bg; padding: 1px 2px 2px; box-shadow: none; }
.bue-ui + textarea.form-textarea { font-family: "Roboto Mono", Consolas, monospace; border-top: 1px solid $toolbar-border; padding: 8px 12px; }

.bue-button { border: 0; margin: 2px; padding: 2px; opacity: 0.54; height: 24px; height: 24px; background: none;
  &:hover { background: rgba(#000, 0.07); border-radius: 2px; opacity: 0.87; }
}
